/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para o cabeçalho */
header {
    background-color: #ffcc00;
    padding: 20px;
    text-align: center;
    display:block
}

header h1 {
    font-size: 36px;
    color: #333;
}

/* Estilos para a navegação */
nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffcc00;
}

/* Estilos para o conteúdo */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

section {
    padding: 20px;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

section p {
    font-size: 16px;
}

section img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Estilos para o rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

header img {
    width: 90px;

}

#cardapio {
    text-align: justify;
}

#cardapio span {
    font-weight: bold;
}

/* Estilização do formulário de reservas */
form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="date"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffcc00;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #ffb400;
}
